html,
body {
  height: 100%;
  margin: 0;
}
.box {
  background: rgb(23, 24, 24);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
p {
  color: aliceblue;
  font-family: monospace;
  letter-spacing: 5px;
}
